<%= form_for(@user) do |f| %>
<div id="fields">
  <div><input type="text" name="username" id="username" class="box-shadow" placeholder="Username" /></div>
  <div><input type="email" name="email" id="email" class="box-shadow" placeholder="Email Address" /></div>
  <div><input type="password" name="password" id="password" class="box-shadow" placeholder="Password" /></div>
  <div><input type="password" name="password_confirm" id="password_confirm" class="box-shadow" placeholder="Confirm Password" /></div>
  <div><input type="text" name="firstname" id="fname" class="box-shadow" placeholder="First Name" /></div>
  <div><input type="text" name="lastname" id="lname" class="box-shadow" placeholder="Last Name" /></div>
  <div>
    <div><button id="signup-button">Join Now!</button></div>
    <div><button id="learnmore-button">Learn More</button></div>
  </div>
</div>
<% end %>