<section id="login">
	<div id="nav">
		<div id="logo">
			<a href="/home/index">CoConceptualize</a>
		</div>
		<ul>
			<li><a href="index.html">Home</a></li>
			<li class="sepa">·</li>
			<li><a href="#about" onClick="smoothScroll('about','fast')">About</a></li>
			<li class="sepa">·</li>
			<li><a href="#contact" onClick="smoothScroll('contact','fast')">Contact</a></li>
		</ul>
	</div>
	<div id="login-box">
		<div id="login_error"></div>
		<div id="fields">
			<div><input type="email" name="email" id="email" class="box-shadow" placeholder="Email Address" /></div>
			<div><input type="password" name="password" id="password" class="box-shadow" placeholder="Password" /></div>
			<div><button id="login-button">Login!</button></div>
		</div>
	</div>
	</div>
</section>
<div id="copyright-bar">
	<span id="copyright-text"></span>
	<img src="/images/copyright.png" />
</div>