<section id="header">
	<div id="nav">
		<ul>
			<li><a href="index.html">Home</a></li>
			<li class="sepa">·</li>
			<li><a href="#about" onClick="smoothScroll('about','fast')">About</a></li>
			<li class="sepa">·</li>
			<li><a href="#contact" onClick="smoothScroll('contact','fast')">Contact</a></li>
		</ul>
	</div>
	<div id="intro">
		<h1>CoConceptualize</h1>
		<h2>A Social Concept Creating Tool For Everyone</h2>
		<ul id="feature-list">
			<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
			<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
			<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>	
		</ul>
		<button id="get-started">Get Started</button>
	</div>
</section>
<section id="getin">
	<div id="sign-up-or-log-in">
		<button id="sign-up">Sign Up Now!</button>
		<button id="log-in">Login</button>
	</div>
	<div class="section-nav" class="cf">
		<div class="nav-icon prev" onClick="smoothScroll('header','fast')">Previous</div>
		<div class="nav-icon next" onClick="smoothScroll('about','fast')">Next</div>
		<div class="nav-icon top" onClick="smoothScroll('header','fast')">Top</div>
	</div>
</section>
<section id="about">
	<div id="about-us">
		<div class="title">
			Who Are We?
		</div>
		<h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
		<p>Proin adipiscing hendrerit neque at ultricies. Cras quis massa et sapien viverra scelerisque id at turpis. Maecenas interdum arcu eu purus vehicula eget congue justo semper. Mauris in varius urna. Donec turpis purus, ultricies nec gravida in, aliquam sed leo. Cras consectetur lorem vel quam sodales fringilla.</p>
		<p>Nunc fringilla viverra dolor, sit amet fringilla risus auctor et. Suspendisse pharetra, libero a facilisis dictum, nibh lorem varius orci, non aliquam massa odio sit amet magna. Nullam ac dolor in ligula dapibus lobortis at sit amet mi. Aenean ultrices pulvinar libero ut varius.</p>
	</div>
	<div class="section-nav" class="cf">
		<div class="nav-icon prev" onClick="smoothScroll('getin','fast')">Previous</div>
		<div class="nav-icon next" onClick="smoothScroll('contact','fast')">Next</div>
		<div class="nav-icon top" onClick="smoothScroll('header','fast')">Top</div>
	</div>
</section>
<section id="contact">
	<div id="contact-us">
		<div id="form-container">
			<form action="#" method="POST" id="contact-form" name="contact_form">
				<div><input type="text" name="sender_name" id="sender_name" placeholder="Sender's Name" required /></div>
				<div><input type="email" name="sender_name" id="sender_email" placeholder="Email Address" required /></div>
				<div><textarea id="sender_message"></textarea></div>
				<button id="send-email" required>Send</button>
			</form>
		</div>
	</div>
	<div class="section-nav" class="cf">
		<div class="nav-icon prev" onClick="smoothScroll('about','fast')">Previous</div>
		<div class="nav-icon next" onClick="smoothScroll('contact','fast')">Next</div>
		<div class="nav-icon top" onClick="smoothScroll('header','fast')">Top</div>
	</div>
</section>
<div id="copyright-bar">
	<span id="copyright-text"></span>
	<img src="/images/copyright.png" />
</div>