<section id="login">
  <div id="nav">
    <div id="logo">
      <a href="/home/index">CoConceptualize</a>
    </div>
    <ul>
      <li><a href="/home/index">Home</a></li>
      <li class="sepa">·</li>
      <li><a href="/home/index#about" onClick="smoothScroll('about','fast')">About</a></li>
      <li class="sepa">·</li>
      <li><a href="/home/index#contact" onClick="smoothScroll('contact','fast')">Contact</a></li>
    </ul>
  </div>
	<div id="new-or-edit-project">
		<h1>Creating a new project</h1>
		<%= render 'form' %>
		<%= link_to 'Back', projects_path %>
	</div>
</section>
<div id="copyright-bar">
  <span id="copyright-text"></span>
  <img src="/images/copyright.png" />
</div>

