<!DOCTYPE html>
<html>
<head>
  <title>CoConceptualize</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <!--<%= javascript_include_tag "application" %>-->
	<script src="/assets/jquery.js?body=1" type="text/javascript"></script>
	<script src="/assets/jquery_ujs.js?body=1" type="text/javascript"></script>
	<script src="/assets/arbor-tween.js?body=1" type="text/javascript"></script>
	<script src="/assets/arbor.js?body=1" type="text/javascript"></script>
	<!--<script src="/assets/demo.js?body=1" type="text/javascript"></script>-->
	<script src="/assets/home.js?body=1" type="text/javascript"></script>
	<script src="/assets/ideas.js?body=1" type="text/javascript"></script>
	<script src="/assets/jquery-1.8.0.min.js?body=1" type="text/javascript"></script>
	<script src="/assets/node.js?body=1" type="text/javascript"></script>
	<script src="/assets/projects.js?body=1" type="text/javascript"></script>
	<script src="/assets/sessions.js?body=1" type="text/javascript"></script>
	<script src="/assets/users.js?body=1" type="text/javascript"></script>
	<script src="/assets/users.js?body=1" type="text/javascript"></script>
	<!--<script src="/assets/websocket.js?body=1" type="text/javascript"></script>-->
	<script src="/assets/application.js?body=1" type="text/javascript"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
